$color-gray :#808080 ; 
$color-lightgray :#d1d1d193 ;
$color-darkwhite:#ececec ;
$color-white : #fff;
$color-black:#000;
$color-red :  #ef394e ;
$color-orange:#ff5722;
$color-green:#008000 ;
$color-pink :#e03d96;
$color-purple:#7d4c9e;
$color-darkred:#b2001a;