.bg-search{
    background-color: white;
}
.city-select {
    background-color: #fff3e0;
    color: #ff5722;
    border-radius: 20px;
    padding: 5px 10px;
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;
  }
  .city-select i {
    margin-left: 8px;
    font-size: 18px;
  }

.nav-menu li a{
    color: gray;
}
.nav-menu li a:hover{
    color: gray;
    border-bottom: 2px solid #ef394e;
}
.b-nav{
    border-bottom: 1px solid rgba(230, 230, 230, 0.73);
    padding-top: 0;
}