.nav-stick {
  position: sticky;
  top: 0;
  z-index: 1;
}
.nav-stick .bg-search {
  background-color: #fff;
}

.city-select {
  background-color: #fff3e0;
  color: #ff5722;
  border-radius: 20px;
  padding: 5px 10px;
  font-weight: bold;
  font-size: 12px;
  cursor: pointer;
}
.city-select i {
  margin-left: 8px;
  font-size: 18px;
}

.login-btn {
  border: 1px solid #ddd;
  padding: 6px 12px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 500;
  gap: 6px;
}

.nav-menu li a {
  color: #808080;
}
.nav-menu li a:hover {
  border-bottom: 1px solid #ef394e;
}

.dropdown-menu {
  overflow-y: scroll;
  height: 70vh;
}
.dropdown-menu li a {
  background-color: #ebecee;
  color: rgba(0, 0, 0, 0.7058823529);
  height: 50px;
}
.dropdown-menu li a:hover {
  border-bottom: none;
  background-color: rgb(255, 255, 255);
  color: #ef394e;
}

.card-story img {
  border: 3px solid transparent;
  background: linear-gradient(#fff, #fff) padding-box, linear-gradient(45deg, #e03d96, #7d4c9e) border-box;
  border-radius: 50%;
  padding: 3px;
  outline: 3px solid #fff;
}
.card-story .link-stoy span {
  border: 1px solid #fff;
  background-color: #e03d96;
  border-radius: 5px;
}
.card-story .link-stoy1 span {
  border: 1px solid #fff;
  background-color: #ececec;
  color: #e03d96;
  border-radius: 5px;
}

.b-red-style {
  background-color: #ef394e;
  border-radius: 12px;
  padding: 10px 30px;
}
.b-red-style .card-style {
  background-color: #fff;
  margin: 0 3px;
  padding: 20px 25px 5px 25px;
}
.b-red-style .card-style1 {
  background-color: #fff;
  margin: 0 3px;
  padding: 20px 25px 5px 25px;
  border-radius: 0 5px 5px 0;
}

.s-font {
  font-size: small;
  color: #808080;
  direction: center;
}

.font-h6 {
  font-size: small;
  color: #19bfd3;
}

.small-font {
  font-size: small;
  color: #000;
  direction: center;
}

.img-one {
  border-radius: 12px;
}

.back-style {
  background-color: #ececec;
  background-image: url(../images/freshPattern.svg);
  background-repeat: no-repeat;
  background-position: left;
  border-radius: 12px;
}
.back-style .style-b1 button {
  color: #fff;
  background-color: #008000;
  border: none;
  padding: 5px;
  border-radius: 30px;
}
.back-style .style-b2 button {
  background-color: #fff;
  color: #008000;
  border: none;
  padding: 10px;
  border-radius: 30px;
}

.border-style {
  border: 1px solid rgba(209, 209, 209, 0.5764705882);
  border-radius: 10px;
  padding: 30px;
}
.border-style .border-style1 {
  border-left: 1px solid rgba(209, 209, 209, 0.5764705882);
}
.border-style .s-b {
  border-bottom: 1px solid rgba(209, 209, 209, 0.5764705882);
}
.border-style .s-lrb {
  border-left: 1px solid rgba(209, 209, 209, 0.5764705882);
  border-right: 1px solid rgba(209, 209, 209, 0.5764705882);
  border-bottom: 1px solid rgba(209, 209, 209, 0.5764705882);
}
.border-style .s-l {
  border-left: 1px solid rgba(209, 209, 209, 0.5764705882);
}
.border-style .percentage {
  border: 1px solid #b2001a;
  background-color: #b2001a;
  color: #fff;
  border-radius: 20px;
  padding: 1px;
}

.border-style2 {
  border: 1px solid rgba(209, 209, 209, 0.5764705882);
  border-radius: 10px;
  padding: 10px;
}
.border-style2 .border-col {
  border-left: 1px solid rgba(209, 209, 209, 0.5764705882);
}
.border-style2 .border-col .border-mobile1 {
  border-left: 1px solid rgba(209, 209, 209, 0.5764705882);
  border-bottom: 1px solid rgba(209, 209, 209, 0.5764705882);
}
.border-style2 .border-col .border-mobile2 {
  border-top: 1px solid rgba(209, 209, 209, 0.5764705882);
  border-right: 1px solid rgba(209, 209, 209, 0.5764705882);
}

.btn-s {
  border-radius: 30px;
  padding: 10px 15px;
}

.logo-style i {
  font-size: 36px;
  color: #808080;
}

.btn-style {
  border: 1px solid rgba(209, 209, 209, 0.5764705882);
  background-color: #fff;
  border-radius: 7px;
}

.modal-stick {
  position: sticky;
  bottom: 10px;
  z-index: 2;
}
.modal-stick .i-style i {
  font-size: 26px;
}

.modal1 .radius-style {
  border-radius: 10px 0px 10px 10px;
}
.modal1 .modal-style1 {
  background-color: rgba(124, 224, 171, 0.3529411765);
  border-radius: 7px;
}
.modal1 .modal-style2 {
  background-color: rgba(228, 120, 25, 0.2431372549);
  border-radius: 7px;
}

.modal2 .modal-head {
  background-color: #ef394e;
  color: #fff;
}
.modal2 .overflow-modal {
  overflow-y: scroll;
  height: 350px;
}

.overstyle {
  overflow-y: scroll;
  width: 900px;
  height: 100px;
  color: #808080;
}

.f-bg {
  background-color: #3c4b6d;
}

.back-footer {
  background-color: #ececec;
}

/*# sourceMappingURL=main.css.map */
